<tr>
  <td>
  <%= link_to topic.name, curriculum_topic_path(@curriculum, topic) %>
  </td>
  <td>
    <%= topic.descendants.count if topic.descendants.count > 0 %>
  </td>
  <td class="text-right warning">
    <!-- if admin -->
      <%= link_to "Add Sub Topic", new_curriculum_topic_path(@curriculum, :parent_id => topic), :class=>"success" %>
      |
      <%= link_to "Edit", edit_curriculum_topic_path(@curriculum, topic), :class=>"tiny" %>
    <!-- end -->
  </td>
</tr>