<div class="row">
  <div class="small-12 columns">
    <h2><%= @topic.name %></h2>
    <%= link_to "Edit", edit_curriculum_topic_path(@curriculum, @topic) %>
  </div>
</div>

<!-- documents, ppt, wordsheets -->