<div class="row">
  <div class="small-12 columns">
    <h2><%= @topic.name %></h2>
    <%= link_to "Edit", edit_curriculum_topic_path(@curriculum, @topic) %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <h2>Worksheets</h2>
    <ul>
    <% @topic.worksheets.each do |worksheet| %>
      <li><%= link_to worksheet.title, edit_worksheet_path(curriculum: @curriculum, topic: @topic) %></li>
    <% end %>
    </ul>
    <%= link_to "New Worksheet", new_worksheet_path(curriculum: @curriculum, topic: @topic) %>
  </div>
</div>

<!-- documents, ppt, wordsheets -->
