<h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>
<div><%="#{@user.profile_image}" %></div>
<div><p><strong>Birthdate:</strong> <%= "#{@user.birthdate}" %></p></div>
<div><p><strong>Email:</strong> <%= "#{@user.email}" %></p></div>
<div>
<h3>User's Curriculum</h3>
<table>
  <thead>
    <th>Curriculum list goes here</th>
  </thead>
  <tr>
    <td></td>
  </tr>
</table>
<br>
<h3>User's Events / History</h3>
</div>