<div  class="date" >
  <div class="row">
    <div class="small-6 columns">
      <span class="date-headline"><%= date %></span>
    </div>
    <div class="small-6 columns">
      <%= render events %>
    </div>
  </div>
</div>