.date {
  padding: 5px 15px;
  .date-headline {
    display: block;
    font-size: 20px;
  }

  .event {
    display: block;
  }

  .event-odd {
    background: #d0e8f0;
  }

  border-bottom: 1px solid #f1f1f1;
}

.no-events {
  text-align: center;
  border: 1px solid #E0E0E0;
  padding: 25px;
  margin-top: 70px;
}