#calendar {
  * {
    margin: 0;
    padding:0;
  }

  .fc-right {
    button {
      padding-left: 20px;
      padding-right: 20px;
    }

    .fc-state-disabled {
      transition: none;
      &:hover {
        background: none;
      }
    }
  }
}